* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:none;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.dark {
  background-color: rgb(39,56,82);
}

.title-Bar button, .feed-Area button, footer {
  color:#fff;
}

.text-header, .feed-Area h2 {
  color:rgb(39,56,82);
}

header {
  display:flex;
  justify-content: center;
  padding:10px;
}

.text-header {
  border: 2px solid rgb(208,93,73) ;
  background-color: white;
  width:12vw;
  text-align: center;
  padding:8px;
}

h6 {
  font-size:xx-small;
  font-weight:bolder;
}

.container {
  margin:30px;
  margin-bottom: 0;
}

.title-Bar {
  display:flex;
  justify-content: space-between;
  padding-bottom:20px;
  border-bottom: 2px solid;
  font-size: x-small;
  font-weight: bold;
}

.title-Bar div {
  width:20%;
}

.title-Bar select {
  width:80%;
}

.title-Bar select,input,button{
  border:1px solid rgb(39,56,82);
  height:50%;
  padding:5px;
}

.title-Bar input {
  float:left;
}

.heading {
  padding-top: 35px;
  display:flex;
  justify-content: center;
}

p {
  margin:8px 0;
}

.grey {
  width:20%;
  background-color: rgb(208,208,208);
}

.feed-Area {
  display:flex;
  width:80%;
  padding:20px 0;
  border-bottom: 1px solid rgb(208,208,208);
  font-size: small;
}

.title {
  width:80%;
  margin-left: 10px;
  color:rgb(99, 98, 98);
}

.feed-Area button{
  width:15%;
  height:35px;
  font-size: smaller;
  padding:10px;
  background-color: rgb(208,93,73);
  border:none;
}

footer {
  text-align: center;
  position:fixed;
  bottom:0;
  padding:10px;
  height:8vhvh;
}

@media screen and (max-width:1240px){
  .title-Bar{
    display:block;
  }
  .title-Bar div{
    width:100%;
  }
  .text-header{
    width:fit-content
  }
  .title button{
    width:max-content;
  }
  body{
    margin:0;
  }
}

@media screen and (max-width:640px){
  .feed-Area{
    display:block;
    text-align: center;
    width:100vw;
  }
  .grey{
    width:150px;
    height:150px;
    margin:auto;
  }
  .title{
    width:100vw;
    padding:20px;
  } 
}