* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:none;
  font-family: 'Roboto', sans-serif;
}

.dark {
  background-color: rgb(39,56,82);
}

nav button, .feed-area button, footer {
  color:#fff;
}

.text-header, .feed-area h2 {
  color:rgb(39,56,82);
}

header {
  top:0;
  position:fixed;
  width:100%;
  display:flex;
  justify-content: center;
  padding:10px;
}

.text-header {
  border: 2px solid rgb(208,93,73) ;
  background-color: white;
  width:12vw;
  text-align: center;
  padding:8px;
}

h6 {
  font-size:xx-small;
  font-weight:bolder;
}

nav {
  margin:10% 2% 0% 2%;
  display:flex;
  justify-content: space-between;
  padding-bottom:20px;
  border-bottom: 2px solid;
  font-size: x-small;
  font-weight: bold;
}

nav div {
  width:20%;
}

nav select {
  width:80%;
}

nav select,input,button{
  border:1px solid rgb(39,56,82);
  height:50%;
  padding:5px;
}

nav input {
  float:left;
}

.heading {
  padding-top: 35px;
  display:flex;
  justify-content: center;
}

p {
  margin:8px 0;
}

main {
  margin:2% 3% 10% 3%;
  margin-bottom: 0;
  display:flex;
}

.left {
  width:80%;
}

.right {
  width:20%;
  height: 100%;
}
.img-grey {
  width:20%;
  background-color: rgb(208,208,208);
}

.feed-area {
  display:flex;
  width:100%;
  padding:20px 0;
  border-bottom: 1px solid rgb(208,208,208);
  font-size: small;
}

.feed {
  width:80%;
  margin-left: 10px;
  color:rgb(99, 98, 98);
}

.feed-area button{
  width:15%;
  height:20%;
  font-size: smaller;
  padding:10px;
  background-color: rgb(208,93,73);
  border:none;
}

footer {
  text-align: center;
  width:100%;
  position:fixed;
  bottom:0;
  padding:10px;
  height:6%;
}

@media screen and (max-width:1240px){
  nav{
    flex-direction: column;
  }
  .heading{
    order:3;
  }
  nav div{
    width:100%;
  }
  .text-header{
    width:fit-content
  }
  .feed button{
    width:max-content;
  }
}

@media screen and (max-width:640px){
  .feed-area{
    display:block;
    text-align: center;
    width:100vw;
  }
  .img-grey{
    width:150px;
    height:150px;
    margin:auto;
  }
  .feed{
    width:100%;
    padding:20px;
  } 
  nav{
    margin-top:20%;
  }
}